<%- include("partials/header") %>

<main>
  <div class="header-text">
    <h1>Publish your passions, your way </h1>
    <p>Create a unique and beautiful blog easily.</p>
    <form action="/post" method="get" class="text-center">
        <button type="submit"  class=".btn">CREATE YOUR BLOG</button>
    </form>
  </div>
   

</main>


<%- include("partials/footer") %>
